.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.imageContainer {
  margin-bottom: 1rem;
}

.universityImage {
  border-radius: 50%;
}
.divider{
 border-top: 1px solid var(--text-color);
 width: 100%;
 margin-top: 10px;
 margin-bottom: -1rem;
 opacity: 0.2;
}

.content {
  width: 100%;
  text-align: center;
}

.institutionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.institution {
  margin: 0;
  color: var(--accent-color);
  font-size: 1.2rem;
}

.location {
  font-size: 0.8rem;
  color: var(--text-color);
  margin-top: 0.25rem;
}

.degree {
  margin: 0.5rem 0;
  font-weight: bold;
}

.year {
  margin: 0.5rem 0;
  color: var(--text-color);
}

.achievements {
  text-align: left;
  margin-top: 1rem;
}

.achievements h4 {
  margin-bottom: 0.5rem;
}

.achievements ul {
  padding-left: 1.5rem;
  margin: 0;
}
.skills {
  text-align: left;
  margin-top: 1rem;
  margin-right: 10px; 

}
.skills li {
  background-color: color-mix(in srgb, var(--article-bg) 90%, white);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
}
.skills h4 {
  margin-bottom: 0.5rem;
}

.skills ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  display: flex; 
  flex-wrap: wrap;
  gap: 10px; 
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .imageContainer {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .content {
    text-align: left;
  }

  .institutionContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .location {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}
